{% extends "detector/layout.html" %}

{% block content %}

 <div class="jumbotron">
    <div class="container">
      <h1>Are you ready to detect some Logos?</h1>
      <p>We must train the model by scraping some pictures, uploading the filtered pictures to the model, and then operating.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Let's get started &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3">
        <h2>Scrape</h2>
        <p>Scrape instagram for the pictures neededto train the model on. This will find all public pictures with the hashtag of the logo brand. </p>
        <p><a class="btn btn-default" href="{%url 'scrape'%}" role="button">Scrape &raquo;</a></p>

      </div>
      <div class="col-md-3">
        <h2>Train Upload</h2>
        <p>Filter the pictures by choosing those containing the logo, then upload these pictures to train the model. </p>
        <p><a class="btn btn-default" href="{%url 'train'%}" role="button">Train &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>Operate Upload</h2>
        <p>Provided a list of hashtags, this will scrape instagram for this pictures, and upload these pictures to the trained model to detect logos. </p>
        <p><a class="btn btn-default" href="{%url 'oselect'%}" role="button">Operate &raquo;</a></p>

      </div>
      <div class="col-md-3">
        <h2>Operate Check</h2>
        <p>Use this to check what pictures have been identified as containing the logo.</p>
        <p><a class="btn btn-default" href="{%url 'operateForm'%}" role="button">Check &raquo;</a></p>
      </div>
    </div>


  </div>
  <!-- /container -->


{% endblock %}
