{% extends "detector/layout.html" %}

{% block content %}

{% if operate_results == "Invalid Table" %}
    <h2>Operate is not finished for {{ logo }} </h2>
{% else %}
</br>

{% for result in operate_results %}

<div class="media">
  <img class="d-flex align-self-center mr-3" src="https://logodetectionstorage.blob.core.windows.net/input/{{result.image_path}}" alt="{{result.logo_name}}" style="width: 300px">

  <div class="media-body">
  	{% if result.has_logo is True %}
    	<h3 class="mt-0" style="color: green; font-weight: bold;"> {{ result.logo_name }} logo detected</h3>
    {% else %}
    	<h3  class="mt-0" style="color: red; font-weight: bold;"> {{ result.logo_name }} logo NOT detected</h3>
    {% endif %}
    <h4>Username id: {{ result.owner_id }}</h4>
    <p>{{ result.caption }}</p>
    <p class="mb-0"></p>
  </div>
</div>
</br>
</br>




{% endfor %}

{% endif %} <!-- Invalid Table -->

{% endblock %}
