
{% extends "detector/layout.html" %}
{% block content %}
<div class="content">
  <br/>
  <br/>
<h3>Operate Check</h3>

  <form action="{% url 'operate' %}" method="POST">
	{% csrf_token %}
    <div class="form-group">
		    <label for="brand">Brand:</label>
		    <input type="text" class="form-control" id="brand" name="brand">
    <p class="form-text text-muted">Let's see if this brand is done operating.</p>
  </div>

  <input type="submit" class="btn btn-primary" id="load" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Processing" value ="Submit">
 </form>

</div>

<script type="text/javascript">
	function redirect() {

		$('.btn').button('loading');


	}


</script>


{% endblock %}
