{% extends "detector/layout.html" %}

{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}
.image-checkbox-checked {
	border-color: #4783B0;
}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}
</style>


<br/>
<br/>
<br/>

{%if output%}

<h3>{{output}}</h3>
<img src="https://thumbs.gfycat.com/AshamedWeightyDachshund-max-1mb.gif"/>
{% else %}


<div class="container">
  <h3>Select the images that have the {{logo}} logo</h3>

<div class = "row">
{%for pic in picList%}

  <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
    <label class="image-checkbox">
      <img class="img-responsive" src="{{pic}}" data-path="{{pic}}"/>
      <input type="checkbox" name="image[]" value="" />
      <i class="fa fa-check hidden"></i>
    </label>
  </div>

{% endfor %}
</div>
<br/>
<div class="row">
	<form action="{% url 'supload' %}" method="POST" id="hiddenForm">
		{% csrf_token %}
	  <input type="hidden" name="picList" value="">
		<input type="hidden" name="nonPicList" value="">
		<input type="hidden" name="brand" value="{{logo}}">
		<input type="text" class="form-control" value ="" id="logoName" name="logoName" placeholder="(Optional) Brand name">
	  <input type="submit" value="Submit" style="display:none">
	</form>
</br>
<button type="submit" class="btn btn-primary" id="load"  onclick="seperate()">
	<span class="spinner" style="display: none;">
		<i class='fa fa-spinner fa-spin'></i></span>
		Upload</button>
		<!-- put logo name here -->

<h4 style = "color:red" id="errorString">{{errorString}}</h4>
</div>


</div>



{% endif %}
<script type="text/javascript">
$(".image-checkbox").each(function () {
  if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
    $(this).addClass('image-checkbox-checked');
  }
  else {
    $(this).removeClass('image-checkbox-checked');
  }
});
// sync the state to the input
$(".image-checkbox").on("click", function (e) {
  $(this).toggleClass('image-checkbox-checked');
  var $checkbox = $(this).find('input[type="checkbox"]');
  $checkbox.prop("checked",!$checkbox.prop("checked"))
  e.preventDefault();
});
function seperate(){
	$('.spinner').show();
	$('#load').addClass("disabled");
	var list = document.getElementsByClassName("image-checkbox");
	console.log(list);
	var pathList = [];
	var nonPathList = [];
	for(var i = 0; i < list.length; i++){
		var element = list[i];
		console.log(element);
		var path = element.firstChild.nextSibling.dataset.path;
		if($(element).hasClass("image-checkbox-checked")){
			pathList.push(path.substring(1));
		}else{
			nonPathList.push(path.substring(1));
		}
	}
	if(pathList.length == 0){
		$('#errorString').html("You haven't selected any pictures");
		$('.btn').button('reset');
		return;
	}
	$("input[name=picList]").val(pathList);
	$("input[name=nonPicList]").val(nonPathList);
	$( "#hiddenForm" ).submit();
}
</script>


{% endblock %}
